{{!
    This project is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This project is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with This project.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/index

    Template for the index page.

}}

 <!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>ECU Portal Demo</title>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/dashboard.css">
    </head>

    <body>
      <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="https://www.catalyst-au.net/">Catalyst IT</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/index.php">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/report.php">Report</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard.php?id=3">Dashboard</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Student dashboard example</h1>
          <p class="lead mb-5 text-white-50">This is a sample dashbaord that displays student information.</p>
        </div>
      </div>
    </div>
  </header>

<!-- Page Content -->
  <div class="container">
    <div class="row">
    
    <div class="col-3 studentinfo">
      <p><strong>Student Details:</strong></p>
      {{# user }}
      <p>Name: {{ firstname }} {{ lastname }} <br/>
      Email: {{ email }}</p>
      {{/ user }}
    </div>
    <div class="col-9">
      <div class="row">
          <div class="col-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Course Code</th>
                  <th scope="col">Course Name</th>
                  <th scope="col">Percentage complete</th>
                </tr>
              </thead>
              <tbody>
              {{# courses }}
                <tr>
                  <td><a href="https://ecu-demo.catalyst-au.net/course/view.php?id={{ id }}" target="_blank">{{ shortname }}</a></td>
                  <td>{{ fullname }}</td>
                  <td>{{ progress }}%</td>
                </tr>
                {{/ courses }}
              </tbody>
            </table>
          </div>
      </div>
      {{!
      Disabled due times
      <div class="row">
            <div class="col-6">
            cell1
            </div>
            <div class="col-6">
            cell2
            </div>
      </div>
            <div class="row">
            <div class="col-6">
            cell3
            </div>
            <div class="col-6">
            cell4
            </div>
      </div>
      }}
    </div>
    
    </div>

  </div>
  <!-- /.container -->

<br/>  <br/>
        
          <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Catalsyt IT 2019</p>
    </div>
    <!-- /.container -->
  </footer>
        

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
    </body>
</html>
